<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navara Assignment 2</title>
    <script src="validateForm.js" async></script>
</head>

<body>
<h5>Look in the console to see the result of the validation (F12)</h5>
<form>
    <label for="type_person">Type person</label><input type="checkbox" id="type_person">
    <label for="type_company">Type company</label><input type="checkbox" id="type_company"><br>

    <label for="email">email:</label><br><input type="email" id="email"><br>
    <label for="first_name">First name: </label><br><input type="text" id="first_name"><br>
    <label for="last_name">Last name: </label><br><input type="text" id="last_name"><br>
    <label for="company_name">Company name: </label><br><input type="text" id="company_name"><br>
    <label for="phone">Phone: </label><br><input type="text" id="phone"><br>
    <button type="button" id="validate_button">Validate</button>
    <a href="register.html">to registration</a>
</form>
</body>
</html>
